<!DOCTYPE html>

<html lang="en">
<head>
  <title>Buy Or Wait</title>
  <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap-responsive.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/jquery-ui.min.css">
 
  <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
  <link rel="shortcut icon" type="image/png" href="/assets/img/glyphicons-halflings.png">
  <link rel="shortcut icon" type="image/png" href="/assets/img/glyphicons-halflings-white.png">
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37623599-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>


  <% if(typeof msg != 'undefined') {%><%=msg %><%}%>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-ui.min.js"></script> 
</body>
</html>
