<!DOCTYPE html>
<html lang="en">
  <body>
    <% if(typeof error != 'undefined') {%><%= error %><%}%>
    <form name="login" method="post">
      <p>Username or Email: <input type="text" name="username"></p>
      <p>Password:<input type="password" name="password"></p>
      <p><input type="submit"></p>
    </form>
  </body>
</html>