<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
      <% if(typeof error != 'undefined') {%><%= error %><%}%>
      <form name="reg" method="post">
        <p>Username: <input type="text" name="username"></p>
        <p>Password:<input type="password" name="password"></p>
        <p>Email:<input type="text" name="email"></p>
        <p><input type="submit"></p>
      </form>
  </body>
</html>
