body {
  margin:0;
  padding:0;
  background-image:url(../images/wild_oliva.png);
}


.wrapper {
  width:498px;
  height:498px;
  background-image:url(../images/clock_bg.png);
  background-position:center;
  margin:0 auto;
  background-repeat:no-repeat;
        position: relative;
}

.clock {
    position: absolute;
    top:-10px;
    left:-10px;
}


.text {
  width:430px;
  float:left;
  margin-top:40px;
  margin-left:30px;
  text-align:center;
}

.text p {
  font-family:Georgia, "Times New Roman", Times, sans-serif;
  color:white;
  font-size:52px;
  line-height:32px;
  margin-top:40px;
  margin-bottom:30px;
}

.text span {
  font-family:Georgia, "Times New Roman", Times, serif;
  color:gray;
  font-style:italic;
  line-height:10px;
  font-size:20px;
}

.timer {
  width:500px;
  float:left;
  margin-left:0px;
  margin-top:40px;
  
}
.timer p {
  color:gray;
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size:30px;
  text-align:center;
  font-style:italic;
}
.timer span {
  color:white;
}